<div class="container col-9 mt-3">
<div class="mb-3">
  <label for="text-search-input" class="form-label">Searching Keyword</label>
  <input type="text" class="form-control" id="text-search-input" placeholder="E.x : Html...">
</div>
Gender
<select class="form-select" aria-label="Default select example">
  <option selected>Select your gender</option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
  <option value="Other">Other</option>
</select>
</div>